# Input devices
allow hal_power_default sysfs_input:dir r_dir_perms;
allow hal_power_default sysfs_input:file rw_file_perms;

# CPU devices
allow hal_power_default sysfs_devices_system_cpu:dir search;
allow hal_power_default sysfs_devices_system_cpu:file rw_file_perms;

# Lights
allow hal_power_default sysfs_light:dir search;
allow hal_power_default sysfs_light:file rw_file_perms;

# Graphics
allow hal_power_default sysfs_graphics:dir search;
allow hal_power_default sysfs_graphics:file rw_file_perms;
