allow hal_light_default sysfs_light:dir search;
allow hal_light_default sysfs_light:file rw_file_perms;

allow hal_light_default sysfs_graphics:dir search;
allow hal_light_default sysfs_graphics:file rw_file_perms;

allow hal_light_default sysfs_input:dir search;
allow hal_light_default sysfs_input:lnk_file read;
allow hal_light_default sysfs_input:file rw_file_perms;

allow hal_light_default sysfs_sec:dir search;
allow hal_light_default sysfs_sec:lnk_file read;
allow hal_light_default sysfs_sec:file rw_file_perms;
