# Mount debugfs on /sys/kernel/debug.
allow init debugfs:dir mounton;

# Mount EFS on /efs
allow init efs_file:dir  mounton;

# /dev/block/mmcblk0p[0-9]
allow init emmcblk_device:blk_file rw_file_perms;

allow init block_device:lnk_file setattr;
allow init tmpfs:lnk_file create_file_perms;

# /sys/class/power_supply/battery and /sys/class/android_usb/android0
allow init sysfs_usb_supply:file { rw_file_perms setattr };

# /data
allow init sdcardd_exec:file r_file_perms;

# sysfs iio:device[0-9]
allow init sysfs:lnk_file setattr;

# sysfs ion device
allow init sysfs_ion:file setattr;

# sysfs usb device
allow init sysfs_android_usb:file setattr;

# read/chown mDNIE symlinks
allow init sysfs_mdnie:lnk_file { r_file_perms setattr };
allow init sysfs_mdnie:file rw_file_perms;

# read/chown camera firmware
allow init sysfs_camera:file { relabelto setattr };
allow init sysfs_camera:filesystem associate;

# WiFi firmware permissions
allow init sysfs_wifi:file setattr;

# Input devices
allow init sysfs_input:file { rw_file_perms setattr };

# BT permissions
allow init sysfs_bluetooth_writable:file setattr;

# GPS permissions
allow init sysfs_gps:lnk_file read;
allow init sysfs_gps:file setattr;

# CPU permissions
allow init sysfs_devices_system_cpu:file rw_file_perms;

# Block device sysfs
allow init sysfs_block:file rw_file_perms;

# Audio Jack
allow init sysfs_jack:file setattr;

unix_socket_connect(init, property, rild)

allow init { domain -lmkd -crash_dump }:process noatsecure;

# Allow access to /proc/device-tree nodes
r_dir_file(init, proc_dt_firmware)

allow init sysfs_mmc:file { w_file_perms setattr };
allow init sysfs_net:file rw_file_perms;
allow init sysfs_graphics:file { rw_file_perms setattr };
allow init sysfs_light:file { rw_file_perms setattr };
allow init sysfs_light:lnk_file { rw_file_perms setattr };
allow init sysfs_mdnie:file setattr;
allow init sysfs_sec:file { rw_file_perms setattr };
allow init sysfs_sec:lnk_file read;
allow init sysfs_sensors:file { rw_file_perms setattr };
allow init sysfs_sensors:lnk_file read;
allow init sysfs_multipdp:file setattr;

# Proc files
allow init proc_reset_reason:file rw_file_perms;
allow init proc_vm:file rw_file_perms;
allow init proc_simslot_count:file rw_file_perms;
allow init proc_sec:file rw_file_perms;

# Sockets
allow init socket_device:sock_file { read write getattr setattr create unlink };
