allow kernel self:capability { chown mknod };

# /dev/mbin0
allow kernel emmcblk_device:blk_file r_file_perms;

# /sys/devices/system/cpu/cpu[0-9]/cpufreq/*
allow kernel sysfs_devices_system_cpu:file setattr;

# /efs contents
allow kernel { app_efs_file battery_efs_file efs_file sensor_efs_file }:dir r_dir_perms;
allow kernel { app_efs_file battery_efs_file efs_file sensor_efs_file }:file rw_file_perms;

# /efs/wifi/.mac.info
r_dir_file(kernel, wifi_efs_file);

# /data/misc/conn/.wifiver.info
allow kernel wifi_data_file:file rw_file_perms;

# Allow kernel to search tmpfs
allow kernel tmpfs:dir search;

allow kernel self:capability sys_module;
