allow nfc efs_file:dir search;
allow nfc sec_efs_file:dir search;
allow nfc sysfs:dir { getattr open read };
allow platform_app nfc_service:service_manager find;