# power-HAL
allow priv_app power_hal_data_files:file rw_file_perms;

# su-daemon
allow priv_app superuser_device:sock_file write;
allow priv_app sudaemon:unix_stream_socket connectto;
