# /dev/block/mmcblk0p[0-9]
allow ueventd emmcblk_device:blk_file { relabelfrom relabelto create setattr unlink rw_file_perms };

# /sys/devices/virtual/misc/multipdp/uevent
allow ueventd sysfs_multipdp:file rw_file_perms;

# read/chown camera firmware
allow ueventd sysfs_camera:file { relabelto rw_file_perms };
allow ueventd sysfs_camera:filesystem associate;

allow ueventd sysfs_usb_supply:file w_file_perms;

# Allow access to /proc/device-tree nodes
r_dir_file(ueventd, proc_dt_firmware)
