allow untrusted_app_25 proc_stat:file { getattr open read };
allow untrusted_app_25 sysfs:file { getattr open read };
allow untrusted_app_25 sysfs:dir { getattr open read };
