on boot
    chown system system /sys/class/timed_output/vibrator/enable
    chmod 0444 /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/timed_output/vibrator/intensity
    chmod 0664 /sys/class/timed_output/vibrator/intensity

service vibrator-1-0 /vendor/bin/hw/android.hardware.vibrator@1.0-service.zero
    class hal
    user system
    group system
