on post-fs-data
#** Copyright 2019, AnanJaser1211@XDA-DEVELOPERS
# GPS
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value
    mkdir /data/vendor 0771 system system
    chown system system /data/vendor
    mkdir /data/vendor/gps 0771 system system
    chown system system /data/vendor/gps
    rm /data/vendor/gps/gps_started
    rm /data/vendor/gps/glonass_started
    rm /data/vendor/gps/beidou_started
    rm /data/vendor/gps/smd_started
    rm /data/vendor/gps/sv_cno.info

    setprop ro.gps.chip.vendor BCM4773_EXERCISE
    
# GPS SLocation Core
    setprop ro.gps.chip.vendor.slocation BCM4773_SLOCATION_CORE

# SensorHub Debugging File Node
chown gps system /sys/devices/platform/bbd.0/BBD
chown gps system /sys/devices/platform/bbd.0/DEV
chown gps system /sys/devices/platform/bbd.0/ESW
chown gps system /sys/devices/platform/bbd.0/baud
chown gps system /sys/devices/platform/bbd.0/debug
chown gps system /sys/devices/platform/bbd.0/buf
chown gps system /sys/devices/platform/bbd.0/pl
chown gps system /sys/devices/platform/bbd.0/passthru
chown gps system /sys/devices/platform/bbd.0/ssi_xfer
chown gps system /sys/devices/platform/bbd.0/ssi_count
chown gps system /sys/devices/platform/bbd.0/ssi_trace
chown gps system /sys/devices/platform/bbd.0/shmd
	
# SensorHub (Location Hub)
service lhd /system/bin/lhd /system/etc/lhd.conf
    class main
    user gps
    group system inet net_raw

# GPS
service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system inet net_raw wakelock
    disabled
	
on property:init.svc.bootanim=stopped
    # start gpsd late to prevent it from changing /data/system
    start gpsd


